<?xml version="1.0" encoding="utf-8" ?>
<!-- Archivo de configuración de la aplicación -->
<configuration>
    <!-- Define la versión del .NET Framework que usará la app -->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
