name: Building ClickOnce

on:
  push:
    branches:
      - master

permissions:
  actions: write
  contents: write
  security-events: write
  issues: write
#sadasdcddsds

jobs:
  build:
    runs-on: [self-hosted, windows, x64, laptop]
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build and Publish ClickOnce with MSBuild
      shell: powershell
      run: |
        nuget restore ./AFIFSALESSYSTEM.sln

        # Define variables
        $version = "2.0.0.1"
        $publishDir = "C:\\publish\\app.publish\\"
        $publishUrl = "file:///$publishDir"

        # Ejecuta ClickOnce Publish
        & msbuild ./AFIFSALESSYSTEM/AFIFSALESSYSTEM.csproj `
          /t:Publish `
          /p:Configuration=Release `
          /p:Platform="Any CPU" `
          /p:AssemblyVersion="2.0.0.0" `
          /p:FileVersion="2025.11.9.1" `
          /p:ApplicationVersion="$version" `
          /p:MinimumRequiredVersion="2.0.0.0" `
          /p:PublishDir="$publishDir" `
          /p:PublishUrl="$publishUrl" `
          /p:InstallUrl="https://tuservidor.com/aplicacion/" `
          /p:Install=true `
          /p:ProductName="AFIFSALESSYSTEM_NUEVO" `
          /p:PublisherName="mmg" `
          /p:CreateDesktopShortcut=true `
          /p:BootstrapperEnabled=true `
          /p:IsWebBootstrapper=true `
          /p:SignManifests=false `
          /p:OutputPath="bin\\Release" `
          /p:GenerateManifests=true `
          /v:minimal
