name: Building ClickOnce

on:
  push:
    branches:
      - master

permissions:
  actions: write
  contents: write
  security-events: write
  issues: write
#ssasadsadsa

jobs:
  build:
    uses: PruebaActions/WorkFlows-Templates/.github/workflows/building-desktop.yaml@main
    with:
      runner_tag: |
        [
          ["self-hosted", "windows", "x64", "laptop"],
          ["self-hosted", "windows", "x64", "principal"]
        ]
        
      project_compile_info_json: |
        {
          "include" : [
            {
              "publishDir": "C:\\test\\wwwroot\\AFIFSALESSYSTEM\\",
              "installUrl": "https://www.afifsales.com/AFIFSALESSYSTEMAM/",
              "appConfigPath": "./AFIFSALESSYSTEM/newapp/App.config",
              "project_path": "./AFIFSALESSYSTEM/AFIFSALESSYSTEM.csproj",
              "sln_path": "./AFIFSALESSYSTEM.sln",
              "AssemblyVersion": "3.0.0.0",
              "assemblyInfo_path": "./AFIFSALESSYSTEM/Properties/AssemblyInfo.cs",
              "dest_appConfig_path": "./AFIFSALESSYSTEM/App.config",
              "msi_project_path": "./MSI/MSI.vdproj",
              "cert_path": " "
            }
          ]
        }

      projects_json: |
        {
          "include" : [
            {
              "project_name": "AFIFSALESSYSTEM",
              "deploy_target_path": "C:\\test2\\wwwroot\\AFIFSALESSYSTEM\\OnlyClickOnce\\",
              "artifact_name":"ClickOnce-Package"
            },
            {
              "project_name": "AFIFSALESSYSTEM",
              "deploy_target_path": "C:\\test2\\wwwroot\\AFIFSALESSYSTEM\\OnlyMSI\\",
              "artifact_name":"MSI-Installer"
            }
          ]
        }
      skip_items_json: |
        [
          "web.config"
        ]















    # - name: Build and Publish ClickOnce with MSBuild
    #   shell: powershell
    #   run: |
    #     nuget restore ./AFIFSALESSYSTEM.sln
    #     msbuild ./AFIFSALESSYSTEM/AFIFSALESSYSTEM.csproj `
    #       /t:Publish `
    #       /p:Configuration=Release `
    #       /p:Platform="Any CPU" `
    #       /p:AssemblyVersion=3.0.0.0 `
    #       /p:FileVersion="2025.11.7.1" `
    #       /p:ApplicationVersion="3.0.0.1" `
    #       /p:MinimumRequiredVersion="3.0.0.0" `
    #       /p:PublishDir="C:\\publish\\" `
    #       /p:InstallUrl="https://tuservidor.com/aplicacion/" `
    #       /p:Install=true `
    #       /p:ProductName="AFIFSALESSYSTEM_NUEVO" `
    #       /p:PublisherName="Hola" `
    #       /p:CreateDesktopShortcut=true `
    #       /p:BootstrapperEnabled=true `
    #       /p:IsWebBootstrapper=true `
    #       /p:SignManifests=false `
    #       /p:ManifestCertificateThumbprint="" `
    #       /p:ManifestKeyFile="" `
    #       /p:OutputPath="bin\Release" `
    #       /v:detailed