name: Building ClickOnce

on:
  push:
    branches:
      - master

permissions:
  actions: write
  contents: write
  security-events: write
  issues: write
#sadasdcsadad

jobs:
  build:
    uses: PruebaActions/WorkFlows-Templates/.github/workflows/building-desktop.yaml@main
    with:
      publishDir: "C:\\inetpub\\wwwroot\\AFIFSALESSYSTEM\\"
      installUrl: "www.google.com"
      appVersion: "2025.10.11.2"