name: Building ClickOnce

on:
  push:
    branches:
      - master

permissions:
  actions: write
  contents: write
  security-events: write
  issues: write
#sadadwadsa

jobs:
  build:
    uses: PruebaActions/WorkFlows-Templates/.github/workflows/building-desktop.yaml@main
    with:
      publishDir: "C:\\test\\wwwroot\\AFIFSALESSYSTEM\\"
      installUrl: "www.google.com"
      appConfigPath: "./AFIFSALESSYSTEM/newapp/App.config"
      project_path: ./AFIFSALESSYSTEM/AFIFSALESSYSTEM.csproj
      sln_path: ./AFIFSALESSYSTEM.sln
      AssemblyVersion: "3.0.0.0"














    # - name: Build and Publish ClickOnce with MSBuild
    #   shell: powershell
    #   run: |
    #     nuget restore ./AFIFSALESSYSTEM.sln
    #     msbuild ./AFIFSALESSYSTEM/AFIFSALESSYSTEM.csproj `
    #       /t:Publish `
    #       /p:Configuration=Release `
    #       /p:Platform="Any CPU" `
    #       /p:AssemblyVersion=3.0.0.0 `
    #       /p:FileVersion="2025.11.7.1" `
    #       /p:ApplicationVersion="3.0.0.1" `
    #       /p:MinimumRequiredVersion="3.0.0.0" `
    #       /p:PublishDir="C:\\publish\\" `
    #       /p:InstallUrl="https://tuservidor.com/aplicacion/" `
    #       /p:Install=true `
    #       /p:ProductName="AFIFSALESSYSTEM_NUEVO" `
    #       /p:PublisherName="Hola" `
    #       /p:CreateDesktopShortcut=true `
    #       /p:BootstrapperEnabled=true `
    #       /p:IsWebBootstrapper=true `
    #       /p:SignManifests=false `
    #       /p:ManifestCertificateThumbprint="" `
    #       /p:ManifestKeyFile="" `
    #       /p:OutputPath="bin\Release" `
    #       /v:detailed