name: Building ClickOnce

on:
  push:
    branches:
      - master

permissions:
  actions: write
  contents: write
  security-events: write
  issues: write
#sadasdcdfds

jobs:
  build:
    runs-on: [self-hosted, windows, x64, laptop]
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
  
    - name: Build and Publish ClickOnce with MSBuild
      shell: powershell
      run: |
        nuget restore ./AFIFSALESSYSTEM.sln
        msbuild ./AFIFSALESSYSTEM/AFIFSALESSYSTEM.csproj `
          /t:Publish `
          /p:Configuration=Release `
          /p:Platform="Any CPU" `
          /p:AssemblyVersion=3.0.0.0 `
          /p:FileVersion="2025.11.7.1" `
          /p:ApplicationVersion="3.0.0.1" `
          /p:MinimumRequiredVersion="3.0.0.0" `
          /p:PublishDir="C:\\publish\\" `
          /p:InstallUrl="https://tuservidor.com/aplicacion/" `
          /p:Install=true `
          /p:ProductName="AFIFSALESSYSTEM_NUEVO" `
          /p:PublisherName="Hola" `
          /p:CreateDesktopShortcut=true `
          /p:BootstrapperEnabled=true `
          /p:IsWebBootstrapper=true `
          /p:SignManifests=false `
          /p:ManifestCertificateThumbprint="" `
          /p:ManifestKeyFile="" `
          /p:OutputPath="bin\Release" `
          /v:detailed


    - name: Commit new version
      if: success()
      run: |
        git config user.name "FrankBatista09"
        git config user.email "heatfrank02@gmail.com"
        git add .
        git commit -m "Auto bump assembly version [skip ci]" || echo "No changes to commit"
        git push